@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}



.container {
    width: 700px;
    margin-top:50px;
    margin-left:500px;
    position:unset;
    max-width: 100%;
    background-color:rgba(255,255,255,0.5);
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
    
    
}

    .container .title {
        font-size: 25px;
        font-weight: 500;
        position: relative;
    }

        .container .title::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            height: 3px;
            width: 30px;
            border-radius: 5px;
            background: linear-gradient(135deg, #71b7e6, #9b59b6);
        }

.content form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

form .input-box span.details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

    .user-details .input-box input:focus,
    .user-details .input-box input:valid {
        border-color: #9b59b6;
    }


form .register {
    height: 45px;
    width: 200px;
    text-align: center;
    border-radius: 5px;
    border: none;
    margin-left: 200px;
    margin-right: auto;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
        form .register:hover {
            /* transform: scale(0.99); */
            background: linear-gradient(-135deg, #71b7e6, #9b59b6);
        }

@media(max-width: 584px) {
    .container {
        max-width: 100%;
    }

    form .user-details .input-box {
        margin-bottom: 15px;
        width: 100%;
    }


    form .category {
        width: 100%;
    }

    .content form .user-details {
        max-height: 300px;
        overflow-y: scroll;
    }

    .user-details::-webkit-scrollbar {
        width: 5px;
    }
}

@media(max-width: 459px) {
    .container .content .category {
        flex-direction: column;
    }
}
form .input-box select.gender {
    display:inline-block;
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    width:300px;
    height: 40px;
}
.container .msg{
    font-family: 'Times New Roman', Times, serif;
    color:red;
    font-size: 30px;
    box-shadow: #9b59b6;
    background:rgba(207, 11, 11, 0.5);
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 10px;
    border-width: 10px;
    border:solid #9b59b6;
}
@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
    font-family: Raleway;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-image:url('bg.jpg');
    background-size: cover;
    background-repeat:no-repeat;
    
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color:rgba(0,0,0,0.4);
    color: white;
}

.brand-title {
    font-size: 2rem;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
    
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 1em;
   
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding:1rem ;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    border-radius:10px;
    background-color: rgba(0.5,0.7,0.3,0.2);
    margin-right: 50px;
    
    
}

.navbar-links li a:hover {
    background-color: rgb(20, 202, 126);
    border-radius: 10px;
    overflow:auto;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}
